<div class="container">
    @if ( gameStarted() ) {
        <div class="boards-container">
            @for (cell of cells; track $index) {
                <app-sub-board
                    [id]="$index"
                    [blackLines]="false"
                    class="board"
                >
                </app-sub-board>    
            }
        </div>

    } 
    @if (!gameStarted()) {
        <p-button
            [disabled]="!gameService.bothReady()" 
            label="Start"
            (onClick)="startGame()"
        ></p-button>
        
        <p-buttonGroup>
            <p-button  icon="pi pi-check"></p-button>
            <p-button  >Proximo</p-button>
        </p-buttonGroup>
    }
</div>