<div class="container">
    @for (cell of cells; track $index) {
        <div 

            (click)="gameS.makePlay(id() , $index) ;  log()"
            class="cell"
        >
        @if (!!myState()[$index]) {
            <ngx-emoji
                [emoji]="cellMarker()[(myState()[$index] ?? '')]" 
                [size]="36"
                (emojiClick)="gameS.makePlay(id() , $index)"
                >
            </ngx-emoji>
        }
            
        </div>
    }

    <!-- @if (blackLines()) {
        <div class="line ver a"></div>
        <div class="line ver b"></div>


        <div class="line hor a"></div>
        <div class="line hor b"></div>
    } -->

</div>