.container {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3 , 1fr);
    // gap: 4%;
    justify-items: center;
    align-items: center;
}

.cell {
    // border: #777 solid 2px;
    transition: all 400ms;
    height: var(--cell-size);
    width: var(--cell-size);
    &:hover {
        background-color: #ddd;
    }
}
.lines-cont {
    // height: var(--mini-board-size);
    // width: var(--mini-board-size);
    position: absolute;

    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;

    // grid-template-rows: 1fr 1fr 1fr;

    gap: var(--cell-size);
    justify-content: center;
    &.ver {
        flex-direction: row;
        align-items: stretch;
    }

    &.hor {
        align-items: stretch;
        flex-direction: column;
    }
}
.line {
    min-height: 2px;
    min-width: 2px;
    // width: 2px;
    // height: calc(( var(--board-size) - (var(--board-size) *0.1)) / 3  );
    background-color: #444;
}

.ver {
    height: var(--mini-board-size);

    // justify-self: center;
    grid-row: 1 / span 3;
}

.hor {
    width: var(--mini-board-size);
    // align-self: center;
    grid-column: 1 / span 3;
}