
<p-card >
    <ng-template pTemplate="header">
        <div class="flex">
            <p-avatar icon="pi pi-user" styleClass="mr-2"></p-avatar>
            <h4>{{name() || 'Nome'}}</h4>
        </div>
    </ng-template>
    <div class="card card-content">
        <input  class="p-inputtext-sm" placeholder="nome" pInputText [(ngModel)]="name" />
        <div class="emoji-field">
            <p-overlayPanel #op>
                <emoji-mart 
                    title="Faça sua escolha"
                    [darkMode]="false"
                    [useButton]="true"
                    [isNative]="true"
                    (emojiSelect)="log($event)"
                ></emoji-mart>
            </p-overlayPanel>
            <p-button
                (click)="op.toggle($event)"
                size="small"
                >
                <ngx-emoji [emoji]="marker()" [size]="26"></ngx-emoji>
            </p-button>
        </div>
    </div>
</p-card>